opencv-python
ultralytics
supervision
bytetracker

ultralytics==8.3.158
supervision==0.25.1
opencv-python==4.11.0.86
numpy
matplotlib
deep_sort_realtime  # or install ByteTrack if you want
torch
torchvision
